<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h2>MATHEMATICS</h2>
    <h3>ADDITION</h3>
    <h1>The Addition of {{a}} and {{b}} is = {{c}}</h1>
    <h3>SUBTRACTION</h3>
    <h1>The Subtraction of {{a}} and {{b}} is = {{d}}</h1>
    <h3>MULTIPLICTION</h3>
    <h1>The Multipliction of {{a}} and {{b}} is = {{e}}</h1>
    <h3>DIVISION</h3>
    <h1>The Division of {{a}} and {{b}} is = {{f}}</h1>
</body>
</html>